fastapi
uvicorn
python-multipart
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
pydantic
pydantic-settings
email-validator
prometheus-fastapi-instrumentator
psycopg2-binary
opencv-python-headless
numpy
Pillow
